<div class="p-2 flex flex-col justify-between items-center gap-3 text-center border-t-2 border-sky-400 rounded-md shadow-md shadow-slate-400 bg-white max-w-[300px">

  <div class="h-full flex flex-col justify-between items-center gap-5">
    <% if product.featured? %>
      <p class="italic pb-2 border-b border-slate-400 border-dashed">
        featured until 
        <span class="text-sky-500">
          <%= product.feature_end_date %>
        </span>
        !
      </p>
    <% end %>

    <h3 class="w-full text-xl font-semibold"><%= product.display_name %></h3>

    <%= link_to "--> view product details", product_path(product.id), class: "font-semibold text-emerald-500 hover:text-emerald-800" %>
  </div>


  <div class="w-full pt-2 border-t border-slate-400 border-dashed">
    <% if product.discounted? %>
      <p>
        <em>Price:</em>
        <span class="line-through"><%= product.formatted_price_in_dollars %></span>
        <span><%= product.formatted_discount_price %></span>
        <span class="text-red-500 font-semibold">(<%= product.formatted_discount %>!)</span>
      </p>
    <% else %>
      <p><em>Price:</em> <%= product.formatted_price_in_dollars %></p>
    <% end %>
    <p><em>Quantity:</em> <%= product.quantity %></p>
    <p>
      <em>Department:</em>
      <%= link_to product.department.upcase,
        "/products/department/#{product.department}",
        class: "font-semibold text-sky-500 hover:text-sky-800"
      %>
    </p>
    <p>
      <em>Category:</em>
      <%= link_to product.category.name.upcase,
        "/products/department/#{product.department}?category=#{product.category.name}",
        class: "font-semibold text-sky-500 hover:text-sky-800"
      %>
    </p>
  </div>
</div>
