<div class="p-2 flex flex-col justify-between items-center gap-3 text-center border border-slate-800 rounded-md shadow-md shadow-slate-400 bg-white max-w-[300px]">
  <h3 class="text-xl font-semibold"><%= product.display_name %></h3>
  <%= link_to "--> view product details", product_path(product.id), class: "italic text-sky-600 hover:text-sky-400" %>
  <p>Category: <%= product.category.name.upcase %></p>
  <div class="w-full pt-2 border-t border-gray-400 border-dashed">
    <p><em>Price:</em> <%= product.formatted_price %></p>
    <p><em>Quantity:</em> <%= product.quantity %></p>
  </div>
</div>
