<h1 class="text-3xl font-bold mb-10"><%= @product.display_name %></h1>

<table class="text-left">
  <tbody>
    <% @product.display_attributes.each.with_index do |attr, idx| %>
    <tr class="bg-slate-<%= idx % 2 == 0 ? '50' : '300' %>">
      <th scope="row" class="pl-2 pr-10">
        <%= attr.keys.first.humanize.titleize %>
      </th>
      <td class="pr-2">
        <%= attr.values.first %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="my-10 w-full text-center">
  <h3 class="font-bold text-2xl pb-3">Actions</h3>
  <div class="flex flex-col justify-center items-center text-xl font-bold">
    <%= link_to "edit this product?", edit_product_path(@product.id), class: "text-emerald-600 hover:text-emerald-400" %>
    <%= link_to "delete this product?", confirm_destroy_product_path(@product), class: "text-red-600 hover:text-red-400" %>
  </div>
</div>
