<h1 class="text-3xl font-bold mb-10"><%= @product.name.upcase %></h1>

<table class="text-left border-2 border-slate-300 shadow-md shadow-slate-400">
  <tbody>
    <% @product.display_attributes.each.with_index do |(name, value), idx| %>
    <tr class="bg-slate-<%= idx % 2 == 0 ? '50' : '300' %>">
      <th scope="row" class="pl-2 pr-10">
        <%= name %>
      </th>
      <td class="pr-2">
        <%= value %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="my-10 flex flex-col gap-2 text-xl text-sky-600 font-bold">
  <%= link_to "edit this product?", edit_product_path(@product.id), class: "hover:text-sky-400" %>
  <%= link_to "view all products?", products_path, class: "hover:text-sky-400" %>
</div>
