<!DOCTYPE html>
<html>
  <head>
    <title>RailsShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% background = type == 'notice' ? 'bg-sky-300' : type == 'error' ? 'bg-red-300' : 'bg-emerald-300' %>

      <div class="relative top-0 left-0 w-full p-3 flex justify-center items-center text-center text-xl <%= background %>">
        <p class="w-full h-full font-light"><%= message %></p>
      </div>
    <% end %>
    <main class="p-10 flex flex-col items-center font-light text-slate-800 bg-slate-100 min-h-[100vh]">
      <%= yield %>
    </main>
  </body>
</html>
